.filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;
    border-radius: .5rem;
    width: 30rem;
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white-color);
    box-shadow: var(--box-shadow);

    @media(min-width: 1024px){
      width: 80rem;
    }

    .filters-pills{
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      .pill{
        display: flex;
        align-items: center;
        height: 3rem;
        background-color: var(--filter-pill-bg);
        width: fit-content;
        margin: 0;
        border-radius: .5rem;
      
        p{
          margin: 0 .5rem;
          color: var(--text-secondary-color);
          font-weight: 700;
          cursor: default;
        }
      
        .icon_wrapper{
          height: 100%;
          width: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: var(--text-secondary-color);
          border-top-right-radius: .5rem;
          border-bottom-right-radius: .5rem;
          cursor: pointer;

          &:hover{
            background-color: var(--text-primary-color);
          }
      
          .icon{
            width: 1.5rem;
          }
        }
      }
    }

    p{
      color: var(--text-grey-color);
      font-weight: 700;
      cursor: pointer;

      &:hover{
        color: var(--text-secondary-color);
        text-decoration: underline;
      }
    }
  }